<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jingbling.ContextEngine">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <uses-permission  android:name="android.permission.GET_TASKS"/>
        <service android:name=".ContextService">
            <intent-filter>
                <action android:name="org.jingbling.ContextEngine.ContextService" />
            </intent-filter>
        </service>
        <service android:name=".FeatureCollectionService">
            <intent-filter>
                <action android:name="org.jingbling.ContextEngine.FeatureCollectionService" />
            </intent-filter>
        </service>
        <activity android:name="DataCollectionAct">
            <intent-filter>
                <action android:name="org.jingbling.ContextEngine.DataCollectionAct" />
            </intent-filter>
        </activity>
    </application>

</manifest>
